.bowl_Chat {
    display: flex;
    height: 90vh;
    width: 100%;
    margin: 10vh auto;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8fafa;
    align-items: center;
    justify-content: center;
}

.chat {
    display: flex;
    box-shadow: var(--shad_2);
    height: 100%;
    position: relative;
    background-color: #ffffff;
}

.users_Chat {
    transition: .3s ease-in-out;
    width: 280px;
    padding: 3px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    overflow: auto;
    background-color: #f8fafa;
}

.content_chat {
    transition: .3s ease-in-out;
    width: 600px;

}


@media screen and (max-width: 900px) {
    .users_Chat {
        width: 220px;
    }

    .content_chat {
        width: 400px;
    }
}

@media screen and (max-width: 800px) {
    .bowl_Chat {
        height: 88vh;
        margin: -2vh auto;
    }
}


@media screen and (max-width: 700px) {
    .users_Chat {
        width: 240px;
    }

    .content_chat {
        width: 300px;
    }
}


@media screen and (max-width: 600px) {

    .chat {
        width: 95%;
    }

    .users_Chat {
        width: 100%;
        position: absolute;
        height: 100%;
    }

    .content_chat {
        width: 100%;
    }
}


.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.details_user {
    width: 400px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.avatar_user {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
}


.name_user_de {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
}

.name_user_de span:first-child {
    font-weight: bold;
}


.users_Chat::-webkit-scrollbar {
    width: 6px;
}

.users_Chat::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.062);
}

.users_Chat::-webkit-scrollbar-thumb {
    background: rgb(214, 214, 214);
    border-radius: 10px;
}


.card_user {
    height: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--shad_2);
    font-family: var(--cairo);
}

.card_user:hover {
    background-color: rgb(233, 233, 233);
}

.card_user.active {
    color: var(--LightBlue);
    font-weight: 600;
}

.avatar_contact {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 6px;
    margin-right: 6px;
}




.lines_chat {
    height: calc(100% - 60px);
    overflow: auto;
    padding: 10px;
}

.lines_chat::-webkit-scrollbar {
    width: 6px;
}

.lines_chat::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.062);
}

.lines_chat::-webkit-scrollbar-thumb {
    background: rgb(214, 214, 214);
    border-radius: 10px;
}



.sender_msg {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}

textarea {
    width: 85%;
    height: 50px;
    border: 1px solid #eee;
    border-radius: 5px;
    outline: none;
    padding: 3px;
    resize: none;
    background-color: #f8fafa;
    padding-top: 5px;
    padding-left: 5px;
}

.btn_sender {
    background-color: var(--Green);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn_sender p {
    color: #fff;
}


.line {
    padding: 6px;
    margin-top: 5px;
}


.line span {
    background-color: rgb(230, 230, 230);
    padding: 6px 12px;
    border-radius: 20px;
    height: auto;
    line-height: 35px;
}


.line.other {
    text-align: right;
}


.line.other span {
    background-color: rgb(177, 241, 161);
}



.chat_not {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.chat_not button {
    background-color: var(--Green);
    width: 170px;
    height: 50px;
    color: #fff;
    margin-top: 20px;
    font-size: var(--fs-text);
    border-radius: 10px;
}

.line_back {
    background-color: rgb(228, 226, 226);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.4rem;
    margin: 5px;
}


.lines_chat.mode {
    height: calc(100% - 120px);
    overflow: auto;
    width: 100%;
    padding: 10px;
}