<section>
    <div class="cover_login">
      <img src="/assets/img/12.jpg" alt="Chille nature" />
    </div>
    <div class="bowl_form">
      <div class="title">
        <span class="tit">{{ "login.forgot password" | translate }}</span>
      </div>
      <form #form="ngForm" (submit)="onSubmit(form)">
        <span class="p-float-label">
          <input
            required
            minlength="4"
            id="email"
            type="email"
            pInputText
            email
            ngModel
            #nameInput="ngModel"
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            name="email"
          />
          <label for="email">{{ "login.email" | translate }}</label>
        </span>
        <div class="forgot">
        </div>
        <button type="submit" class="btn_form">
          {{ "login.send_link" | translate }}
          <i class="pi pi-sign-in"></i>
        </button>
      </form>
      <div class="to_signup">
        <span routerLink="/login"
          ><strong>{{ "login.back_to_login" | translate }}</strong></span
        >
      </div>
    </div>
  </section>
