.alternatives_container {
  display: flex;
  height: 90vh;
}

.loader {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shad_2);
}

.alternatives {
  width: calc(100% - 200px);
  overflow: auto;
}

.line {
  width: 90%;
  margin-top: 20px;
}

.btn_search {
  background-color: rgba(228, 228, 228, 0.795);
  margin-top: 20px;
  height: 40px;
  border-radius: 3px;
}


.categories {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.approaches {
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 5%;
}

.infographics {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.title_logo {
  position: relative;
}

.logo {
  position: absolute;
  left: -13px;
}

.title {
  font-size: var(--fs-sub-title);
  font-family: var(--cairo);
}

.infographics_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 25px;
  justify-content: space-between;
  margin-top: 25px;
}

.picture {
  height: 270px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: var(--shad_2);
}

.picture:hover {
  box-shadow: var(--shad_4);
}

.books {
  width: 95%;
  margin: 0 auto;
  margin-top: 55px;
}

.videos {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.video_cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 25px;
  justify-content: space-between;
  margin-top: 25px;
}

.books_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 370px);
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}