.bowl_Chat {
    display: flex;
    height: 85vh;
    width: 90%;
    margin: auto;
    margin-top: 13vh;
    border-radius: 10px;
    box-shadow: var(--shad_2);
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details_user {
    width: 400px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.avatar_user {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
}


.name_user_de {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
}

.name_user_de span:first-child {
    font-weight: bold;
}
























.chat {
    width: calc(100% - 400px);
    display: flex;
}

.users_Chat {
    width: 280px;
    padding: 3px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    overflow: auto;
}

.users_Chat::-webkit-scrollbar {
    width: 6px;
}

.users_Chat::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.062);
}

.users_Chat::-webkit-scrollbar-thumb {
    background: rgb(214, 214, 214);
    border-radius: 10px;
}


.card_user {
    height: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgb(243, 243, 243);
}

.card_user:hover {
    background-color: rgb(233, 233, 233);
}

.card_user.active {
    background-color: var(--Green);
}

.avatar_contact {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 6px;
    margin-right: 6px;
}



.content_chat {
    width: calc(100% - 280px);
}

.lines_chat {
    height: calc(100% - 60px);
    overflow: auto;
    padding: 10px;
}

.lines_chat::-webkit-scrollbar {
    width: 6px;
}

.lines_chat::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.062);
}

.lines_chat::-webkit-scrollbar-thumb {
    background: rgb(214, 214, 214);
    border-radius: 10px;
}



.sender_msg {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}

textarea {
    width: 85%;
    height: 50px;
    border: 1px solid #eee;
    border-radius: 5px;
    outline: none;
    padding: 3px;
    resize: none;
}

.btn_sender {
    background-color: #eee;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.line {
    padding: 6px;
    margin-top: 5px;
}


.line span {
    background-color: rgb(230, 230, 230);
    padding: 6px 12px;
    border-radius: 20px;
}


.line.other {
    text-align: right;
}


.line.other span {
    background-color: rgb(177, 241, 161);
}



.chat_not {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}