<h1>dfhdfhdfh</h1>
<h1>dfhdfhdfh</h1>
<h1>dfhdfhdfh</h1>
<h1>dfhdfhdfh</h1>
<h1>dfhdfhdfh</h1>
<h1>dfhdfhdfh</h1>

<!-- 

      <div class="details_user" *ngIf="false && !selectedUserID && myInfo">
    <div class="avatar_user">
      <img [src]="myInfo.avatar" alt="" />
    </div>
    <div class="name_user_de">
      <span>{{ myInfo.name }}</span>
    </div>
  </div>
  <div class="details_user" *ngIf="false && selectedUserID && selectedInfo">
    <div class="avatar_user">
      <img [src]="selectedInfo.avatar" alt="" />
    </div>
    <div class="name_user_de">
      <span>{{ selectedInfo.name }}</span>
    </div>
  </div>





  
 -->