<div class="bowl_Chat">
  <div class="details_user" *ngIf="!selectedUserID && myInfo">
    <div class="avatar_user">
      <img [src]="myInfo.avatar" alt="" />
    </div>
    <div class="name_user_de">
      <span>Name: </span>
      <span>{{ myInfo.name }}</span>
    </div>
    <div class="name_user_de">
      <span>Country: </span>
      <span>{{ myInfo.country }}</span>
    </div>
    <div class="name_user_de">
      <span>Phone: </span>
      <span>{{ myInfo.phone }}</span>
    </div>
    <div class="name_user_de">
      <span>Email: </span>
      <span>{{ myInfo.email }}</span>
    </div>
  </div>
  <div class="details_user" *ngIf="selectedUserID && selectedInfo">
    <div class="avatar_user">
      <img [src]="selectedInfo.avatar" alt="" />
    </div>
    <div class="name_user_de">
      <span>Profession Nmae: </span>
      <span>{{ selectedInfo.profession_name }}</span>
    </div>
    <div class="name_user_de">
      <span>Name: </span>
      <span>{{ selectedInfo.name }}</span>
    </div>
    <div class="name_user_de">
      <span>Phone: </span>
      <span>{{ selectedInfo.phone_number }}</span>
    </div>
    <div class="name_user_de">
      <span>Email: </span>
      <span>{{ selectedInfo.email }}</span>
    </div>
  </div>

  <div class="chat" *ngIf="usersChat.length">
    <div class="users_Chat">
      <div
        *ngFor="let item of usersChat"
        class="card_user"
        (click)="selectUser(item.id, true)"
        [class.active]="selectedUserID === item.id"
      >
        <div class="avatar_contact">
          <img [src]="item.avatar" [alt]="item.name" />
        </div>
        {{ item.name }}
        {{ "nav.about" | translate }}
      </div>
    </div>
    <div class="content_chat">
      <div #scrollMe class="lines_chat">
        <div class="loader" *ngIf="isLoader">
          <p-progressSpinner
            [style]="{ width: '50px', height: '50px' }"
          ></p-progressSpinner>
        </div>
        <div class="loader" *ngIf="isEmptyContent">
          <span>noy yet sending any msgs</span>
        </div>
        <div
          class="line"
          *ngFor="let item of lines"
          [class.other]="item.sereceivernder.id !== selectedUserID"
        >
          <span>{{ item.msg.value }}</span>
        </div>
      </div>
      <div class="sender_msg">
        <textarea [(ngModel)]="msg" placeholder="Aa..."></textarea>
        <button class="btn_sender" (click)="sendMsg()">
          <p class="pi pi-send"></p>
        </button>
      </div>
    </div>
  </div>
  <div class="chat_not" *ngIf="!usersChat.length">
    <span>you dont add any healer to contact</span>
  </div>
</div>
