<p-toast></p-toast>

<section>
  <div class="cover_login">
    <img src="/assets/img/12.jpg" alt="" />
  </div>
  <div class="bowl_form">
    <div class="title">
      <span class="tit">{{ "login.title" | translate }}</span>
      <span class="sub">{{ "login.subTitleForm" | translate }}</span>
    </div>
    <form #form="ngForm" (submit)="onSubmit(form)">
      <span class="p-float-label">
        <input
          required
          minlength="4"
          id="email"
          type="email"
          pInputText
          email
          ngModel
          #nameInput="ngModel"
          pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
          name="email"
        />
        <label for="email">{{ "login.email" | translate }}</label>
      </span>
      <span class="p-float-label p-input-icon-right">
        <i
          *ngIf="!showPass"
          class="pi pi-eye-slash"
          (click)="showPassFun()"
        ></i>
        <i *ngIf="showPass" class="pi pi-eye" (click)="showPassFun()"></i>
        <input
          required
          minlength="8"
          type="password"
          pInputText
          ngModel
          #nameInput="ngModel"
          name="password"
          value="ladf"
          id="password"
        />
        <label for="password">{{ "login.password" | translate }}</label>
      </span>
      <div class="forgot">
        <span routerLink="" routerLinkActive="true">{{
          "login.recovery_password" | translate
        }}</span>
      </div>
      <button type="submit" class="btn_form">
        {{ "login.sign_in" | translate }}
        <i class="pi pi-sign-in"></i>
      </button>
    </form>
    <div class="to_signup">
      <span routerLink="/signup/patient"
        >{{ "signup.do_not_have_account" | translate
        }}<strong>{{ "signup.register" | translate }}</strong></span
      >
    </div>
  </div>
</section>
