section {
  display: flex;
  align-items: center;
  height: calc(100vh - 10vh);
}

@media screen and (max-width: 850px) {
  section {
    justify-content: center;
  }

  .cover_login {
    display: none;
  }
}

.cover_login {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.bowl_form {
  width: 50%;
  height: 100%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.title .tit {
  font-size: var(--fs-title);
}

.title .sub {
  font-size: var(--fs-text);
  margin-top: 30px;
  display: block;
}

form {
  width: 400px;
}

form span {
  width: 100%;
  margin-top: 30px;
  height: 45px;
}

.forgot {
  text-align: right;
  justify-content: flex-end;
  padding-top: 10px;
}

.forgot span {
  font-size: 0.9rem;
  user-select: none;
  width: max-content;
  cursor: pointer;
  margin-right: auto;
  color: rgb(83, 83, 83);
}

.forgot span:hover {
  color: blue;
  text-decoration: underline;
}

.btn_form {
  height: 45px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: var(--Green);
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
}

.btn_form i {
  margin-left: 15px;
}

.to_signup {
  cursor: pointer;
  user-select: none;
  margin-top: 70px;
}

.to_signup:hover {
  text-decoration: underline;
  color: rgb(32, 38, 197);
}

.to_signup strong {
  margin-left: 10px;
}

input.ng-invalid.ng-touched {
  border: 2px solid rgb(255, 0, 0);
}

input.ng-valid.ng-touched {
  border: 2px solid rgb(68, 175, 54);
}

.msginput {
  font-size: 0.8rem;
  margin: 5px 0;
}

@media screen and (max-width: 600px) {
    form {
      width: 350px;
    }
  
  }

@media screen and (max-width: 400px) {
  form {
    width: 320px;
  }

}
