<div class="video_card" (click)="toggleShow()" (click)="showDialog()">
  <div class="cover">
    <img [src]="video.cover" alt="video thumbnail" />
  </div>
  <div class="title_status">
    <span class="title">{{ video.title }}</span>
    <div class="status" [class.paid]="video.status.code === 'paid'">
      {{ video.status.name }}
    </div>
  </div>
</div>

<div *ngIf="isSHow && isAccess" class="player">
  <div class="close" (click)="toggleShow()">
    <i class="pi pi-times"></i>
  </div>
  <video [src]="video.file" [poster]="video.cover" controls autoplay></video>
</div>

<p-dialog
  header="You do not currently have access to this video"
  *ngIf="!isAccess && video.status.code === 'paid'"
  [(visible)]="display"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '400px' }"
  [blockScroll]="true"
  [draggable]="false"
  [modal]="true"
>
  <button
    class="get-access"
    (click)="functions.checkAccess()"
    class="get_access_button"
    pButton
  >
    Get Access &nbsp;&nbsp; <i class="pi pi-angle-right"></i>
  </button>
</p-dialog>
