.video_card {
  width: 100%;
  height: 250px;
}

.cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cover img {
  border-radius: 5px;
  cursor: pointer;
  box-shadow: var(--shad_2);
}

.cover img:hover {
  box-shadow: var(--shad_4);
}

.title_status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 2%;
}

.title {
  font-family: var(--cairo);
  font-size: 1.1rem;
}

.status {
  border-radius: 30px;
  width: 50px;
  background-color: var(--LineDown);
  color: var(--White);
  font-family: var(--cairo);
  text-align: center;
  font-size: 0.8rem;
}

.status.paid {
  background-color: rgb(245, 129, 129);
}

.player {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: var(--zi-5);
  background-color: rgba(0, 0, 0, 0.329);
  box-shadow: var(--shad_3);
}


video {
  width: 800px;
  height: 400px;
  object-fit: cover;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}