main {
  width: 93%;
  margin: 90px auto;
}

.loader {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book_details_container {
  height: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.book_details {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.book_cover {
  height: 400px;
  min-width: 270px;
  margin-right: 20px;
}

.book_cover img {
  transition: .3s ease-in-out;
  width: 100%;
  box-shadow: var(--shad_4);
  border-radius: 3px;
}

.book_cover:hover img {
  transform: scale(1.02);
}

.title {
  font-family: var(--cairo);
  font-weight: bolder;
  font-size: var(--fs-sub-title);
}

.description {
  width: fit-content;
  line-height: 35px;
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 0.9rem;
}

.buttons_container {
  display: flex;
  gap: 30px;
}

.button_style {
  width: 250px;
  height: 45px;
  border-radius: 10px;
  font-family: var(--roboto);
  font-weight: bold;
  font-size: var(--fs-text);
  box-shadow: var(--shad_1);
  cursor: pointer;
  transition: .3s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button_style.a {
  color: var(--Black);
}

#view_book {
  background-color: var(--LightBlue);
  color: var(--White);
}

.button_style:hover {
  box-shadow: var(--shad_3);
  cursor: pointer;
}

.get_access_button {
  background-color: #2196F3;
  color: var(--White);
  font-family: var(--cairo);
  width: 250px;
  height: 45px;
  border-radius: 10px;
  font-size: var(--fs-text);
  box-shadow: var(--shad_1);
  cursor: pointer;
}

.get_access_button:hover {
  box-shadow: var(--shad_3);
  cursor: pointer;
}

.warning_message {
  height: 80px;
  border: 1px solid var(--LightBlue);
  margin-top: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.message {
  color: #676767;
  font-family: var(--cairo);
  font-weight: 300;
  margin-left: 20px;
}

.title_logo {
  position: relative;
}

.logo {
  position: absolute;
  left: -13px;
}

.recommended {
  margin-top: 30px;
}

.recommended_title {
  font-family: var(--cairo);
  font-size: var(--fs-sub-title);
}

.books_container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 410px);
  justify-content: space-evenly;
  gap: 25px;
}

.footer {
  margin-top: 50px;
}




/* view_book */

.view_book {
  position: fixed;
  background-color: #00000052;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: var(--zi-5);
}

.content_view {
  width: 100%;
  background-color: rgba(145, 145, 145, 0.897);
  height: 100%;

}

.viewer {
  width: 100%;
  height: 100%;
}

.loader_book {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.close {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #fff;
  border-radius: 50%;
  padding: 7px;
  width: 40px;
  height: 40px;
  border: 1px solid var(--LightBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.emptydata {
  text-align: center;
}

.link {
  color: rgb(64, 103, 155);
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

@media screen and (max-width: 900px) {
  .book_details_container {
    height: auto;
    flex-direction: column;
  }

  .book_details {
    margin-top: 30px;
  }

  .buttons_container,
  .paid_buttons_container {
    margin-top: 25px;
  }
}

@media screen and (max-width: 550px) {

  .button_style {
    width: 45%;
  }

  .book_cover {
    height: 300px;
    min-width: auto;
    width: 70%;
    margin-right: 0;

  }

  .book_details {
    text-align: center;
  }

  .description {
    line-height: 32px;
    margin-top: 10px;
    font-size: 0.8rem;
  }


}