<p-toast></p-toast>

<div class="bowl_noo_sign">
  <div class="tab_1">
    <div class="cover">
      <img src="/assets/img/3.jpg" alt="" />
    </div>
    <div class="form">
      <div class="title">
        <span class="tit">Get started with matchetune</span>
        <span class="sub">Sign in to find answers to your questions </span>
      </div>
      <form #form="ngForm" (submit)="firstRegister(form)">
        <div class="bowl_lines">
          <span class="p-float-label">
            <input
              required
              minlength="4"
              id="Name"
              type="text"
              pInputText
              ngModel
              #nameInput="ngModel"
              name="name"
              [class.error]="isValid"
            />
            <label for="Name">Name</label>
          </span>
          <span class="bowl_input p-float-label">
            <input
              required
              minlength="4"
              id="email"
              type="email"
              pInputText
              email
              ngModel
              #nameInput="ngModel"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
              name="email"
              [class.error]="isValid"
            />
            <label for="email">Email</label>
          </span>
          <span class="bowl_input p-float-label p-input-icon-right">
            <i
              *ngIf="!showPass"
              class="pi pi-eye-slash"
              (click)="showPassFun()"
            ></i>
            <i *ngIf="showPass" class="pi pi-eye" (click)="showPassFun()"></i>
            <input
              required
              minlength="8"
              [type]="!showPass ? 'password' : 'text'"
              pInputText
              ngModel
              #nameInput="ngModel"
              name="password"
              value="ladf"
              id="password"
              [class.error]="isValid"
            />
            <label for="password">Password</label>
          </span>
        </div>

        <div class="msgsubmit" *ngIf="isValid">
          <span> {{ "signup.valid_input" | translate }}</span>
        </div>

        <button type="submit" class="btn_form">
          {{ "signup.next" | translate }}
          <i class="pi pi-sign-in"></i>
          <div *ngIf="isLoadSign" class="loader">
            <p-progressSpinner
              [style]="{ width: '30px', height: '30px' }"
            ></p-progressSpinner>
          </div>
        </button>
      </form>
      <div class="to_signup">
        <span routerLink="/login"
          >{{ "signup.ask_have_account" | translate
          }}<strong>{{ "signup.login" | translate }}</strong></span
        >
      </div>
    </div>
  </div>
</div>
