<main>
  <div class="filters">
    <p-dropdown
      class="bowlSleect"
      [style]="{ width: '100%' }"
      [options]="units.languages"
      [(ngModel)]="language"
      placeholder="Language"
      name="language"
      optionLabel="name"
      (onChange)="clearLog()"
    ></p-dropdown>

    <p-dropdown
      class="bowlSleect"
      [style]="{ width: '100%' }"
      [options]="units.status"
      [(ngModel)]="status"
      placeholder="Status"
      name="status"
      optionLabel="name"
      (onChange)="clearLog()"
    ></p-dropdown>

    <p-dropdown
      class="bowlSleect"
      [style]="{ width: '100%' }"
      [options]="approaches"
      [(ngModel)]="approach"
      placeholder="Approach"
      name="approach"
      optionLabel="name"
      (onChange)="clearLog()"
    ></p-dropdown>

    <p-multiSelect
      class="bowlSleect"
      [style]="{ width: '100%' }"
      *ngIf="approach"
      [options]="approach.categories"
      [(ngModel)]="category"
      defaultLabel="category"
      optionLabel="name"
      selectedItemsLabel="{0} items selected"
      (onChange)="clearLog()"
    ></p-multiSelect>
  </div>

  <div *ngIf="loader" class="loader">
    <div class="card" *ngFor="let item of skleton">
      <p-skeleton width="300px" height="250px" borderRadius="10px"></p-skeleton>
    </div>
  </div>

  <div class="container_imgs">
    <div class="bowl" *ngFor="let item of Infographics" (click)="openImg(item)">
      <img [src]="item.cover" [alt]="item.title" />
    </div>
  </div>

  <div *ngIf="isEmpty" class="empty">
    <span>No Infographics are available for this approach! </span>
  </div>
</main>

<div *ngIf="coverPop" class="pop_cover_imgs">
  <div class="">
    <img [src]="coverPop" alt="" />
  </div>
  <div class="layout" (click)="clearPop()"></div>
</div>
