<main>
  <div class="filters">
    <p-dropdown
      [options]="units.languages"
      [(ngModel)]="language"
      placeholder="Language"
      name="language"
      optionLabel="name"
      (onChange)="clearLog()"
    ></p-dropdown>

    <p-dropdown
      [options]="units.status"
      [(ngModel)]="status"
      placeholder="Status"
      name="status"
      optionLabel="name"
      (onChange)="clearLog()"
    ></p-dropdown>

    <p-dropdown
      [options]="approaches"
      [(ngModel)]="approach"
      placeholder="Approach"
      name="approach"
      optionLabel="name"
      (onChange)="clearLog()"
    ></p-dropdown>

    <p-multiSelect
      *ngIf="approach"
      [options]="approach.categories"
      [(ngModel)]="category"
      defaultLabel="category"
      optionLabel="name"
      selectedItemsLabel="{0} items selected"
      (onChange)="clearLog()"
    ></p-multiSelect>
  </div>

  <div *ngIf="loader" class="loader">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div class="container_imgs">
    <div class="bowl" *ngFor="let item of Infographics">
      <img [src]="item.cover" [alt]="item.title" />
    </div>
  </div>

  <div *ngIf="isEmpty" class="empty">
    <span>No Infographics are available for this approach! </span>
  </div>
</main>
