main {
    min-height: 90vh;
    width: 90%;
    margin: 100px auto;
}

.empty {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.filters {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}



.loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.loadMore {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.data {
    margin-top: 30px;
    justify-content: space-evenly;
}

.masonry-item {
    width: 20%;
    margin-bottom: 25px;
    padding: 10px;
}

.bowl img {
    box-shadow: var(--shad_3);
    border-radius: 5px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.bowl:hover img {
    transform: scale(1.05);
    box-shadow: var(--shad_4);
}