.list_analytics {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    margin-top: 40px;
    justify-content: space-evenly;
    gap: 40px;
}

.card {
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    border-radius: 5px;
    box-shadow: var(--shad_2);
    transition: .2s;
    align-items: center;
    justify-content: space-evenly;
}

.card:hover {
    box-shadow: var(--shad_3);
}


.title_card {
    text-transform: capitalize;
    font-size: var(--fs-sub-text);
}

.coun_card {
    font-size: var(--fs-sub-title);
}