<main>
  <div class="filters">
    <p-dropdown
      [options]="units.languages"
      [(ngModel)]="language"
      placeholder="Language"
      name="language"
      optionLabel="name"
      (onChange)="clearLog()"
      class="bowlSleect"
      [style]="{ width: '100%' }"
    ></p-dropdown>

    <p-dropdown
      [options]="units.status"
      [(ngModel)]="status"
      placeholder="Status"
      name="status"
      optionLabel="name"
      (onChange)="clearLog()"
      class="bowlSleect"
      [style]="{ width: '100%' }"
    ></p-dropdown>

    <p-dropdown
      [options]="approaches"
      [(ngModel)]="approach"
      placeholder="Approach"
      name="approach"
      optionLabel="name"
      (onChange)="clearLog()"
      class="bowlSleect"
      [style]="{ width: '100%' }"
    ></p-dropdown>

    <p-multiSelect
      *ngIf="approach"
      [options]="approach.categories"
      [(ngModel)]="category"
      defaultLabel="category"
      optionLabel="name"
      selectedItemsLabel="{0} items selected"
      (onChange)="clearLog()"
      class="bowlSleect"
      [style]="{ width: '100%' }"
    ></p-multiSelect>
  </div>

  <div *ngIf="loader" class="loader">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div class="data">
    <div class="card" *ngFor="let item of Videos">
      <app-video-card [video]="item"></app-video-card>
    </div>
  </div>

  <div *ngIf="isEmpty" class="empty">
    <span>No Videos are available for this approach! </span>
  </div>
</main>
