<main>
  <div class="filters">
    <p-dropdown
      [options]="units.languages"
      [(ngModel)]="language"
      placeholder="Language"
      name="language"
      optionLabel="name"
      (onChange)="clearLog()"
    ></p-dropdown>

    <p-dropdown
      [options]="units.status"
      [(ngModel)]="status"
      placeholder="Status"
      name="status"
      optionLabel="name"
      (onChange)="clearLog()"
    ></p-dropdown>

    <p-dropdown
      [options]="approaches"
      [(ngModel)]="approach"
      placeholder="Approach"
      name="approach"
      optionLabel="name"
      (onChange)="clearLog()"
    ></p-dropdown>

    <p-dropdown
      *ngIf="approach"
      [options]="approach.categories"
      [(ngModel)]="category"
      placeholder="category"
      name="category"
      optionLabel="name"
      (onChange)="clearLog()"
    ></p-dropdown>
  </div>

  <div *ngIf="loader" class="loader">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div class="data">
    <div class="card" *ngFor="let item of Videos">
      <app-video-card [video]="item"></app-video-card>
    </div>
  </div>
  <div *ngIf="loadMore" class="loadMore">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div *ngIf="empty" class="empty">
    <span>No Videos are available for this approach! </span>
  </div>
</main>
