<div (click)="routeBook()" class="book_container">
  <div class="book_img_container">
    <img [src]="book.cover" alt="book" />
  </div>
  <div class="book_information">
    <div class="title_label">
      <div class="title_book">
        <span> {{ book.title }} </span>
      </div>
      <div class="status" [class.paid]="book.status.code === 'paid'">
        <span>
          {{ book.status.name }}
        </span>
      </div>
    </div>
    <div class="description">
      <span>{{ book.description }}</span>
    </div>
  </div>
</div>
<p-dialog
  header="You do not currently have access to this video"
  *ngIf="!isAccess && book.status.code === 'paid'"
  [(visible)]="display"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '400px' }"
  [blockScroll]="true"
  [draggable]="false"
  [modal]="true"
>
  <button
    class="get-access"
    routerLink="/details"
    class="get_access_button"
    pButton
  >
    Get Access &nbsp;&nbsp; <i class="pi pi-angle-right"></i>
  </button>
</p-dialog>
